<div class="container-fluid">
  <div class="heading font-weight-bold pb-3">Dashboard</div>


  <mat-card class="col-12">
    <mat-card-content class="mat-card-content">
      <div class="d-flex align-items-center mb-3">
        <span class="color-label red mr-2"></span>
        <span>Leave</span>
        <span class="color-label gray ml-3 mr-2"></span>
        <span>Pending leave</span>
        <span class="color-label green ml-3 mr-2"></span>
        <span>Birthday</span>
        <span class="color-label yellow ml-3 mr-2"></span>
        <span>Holiday</span>
      </div>
      <app-event-calendar></app-event-calendar>
    </mat-card-content>
  </mat-card>

</div>