
    <section class="container-fluid pt-2" *blockUI="'blockui-family-detail'">
        <div class="col-12 pb-3">
            <div class="row">
                <div class="col-10 pt-2">
                    <p class="sub-heading mb-0 pt-2">Family Info</p>
                </div>
                <div class="col-2 pb-2 text-right">
                    <button mat-raised-button color="primary" (click)="add()">
                        Add New
                    </button>
                </div>
            </div>
            <mat-divider></mat-divider>
        </div>
        <div class="col-12">
            <div class="row">
                <div class="col-sm-3 col-12">
                    <mat-form-field>
                        <input matInput name="searchEmployees" placeholder="Search Members"
                            [(ngModel)]="filterModel.filterKey" #filterKey="ngModel"
                            (keydown.enter)="getFamilyDetails()" maxlength="100" />
                        <mat-icon matSuffix class="cursor-pointer" *ngIf="filterModel.filterKey"
                            (click)="resetFilterKey()">close</mat-icon>
                    </mat-form-field>
                </div>
                <div class="col-sm-5 col-10 pt-1">
                    <button mat-raised-button color="primary" class="mr-2" (click)=" getFamilyDetails()">
                        <mat-icon>search</mat-icon> Search
                    </button>
                    <button mat-raised-button (click)="resetFilter()">
                        <mat-icon>clear</mat-icon> Reset
                    </button>
                </div>
            </div>
        </div>
        <div class="col-12 mt-2">
            <table mat-table [dataSource]="model" matSort matSortActive="firstName" matSortDisableClear
                matSortDirection="asc">
                <ng-container matColumnDef="firstName">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>
                        <span class="mat-subheading-1"><strong> Name</strong></span>
                    </th>
                    <td mat-cell *matCellDef="let element">
                        {{element.firstName}} {{element.lastName}}
                    </td>
                </ng-container>
                <ng-container matColumnDef="relationshipId">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>
                        <span class="mat-subheading-1"><strong> Relationship</strong></span>
                    </th>
                    <td mat-cell *matCellDef="let element">
                        {{element.relatioName}}
                    </td>
                </ng-container>
                <ng-container matColumnDef="dateOfBirth">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>
                        <span class="mat-subheading-1"><strong> Date Of Birth</strong></span>
                    </th>
                    <td mat-cell *matCellDef="let element">
                        {{element.dateOfBirth | date}}
                    </td>
                </ng-container>
                <ng-container matColumnDef="email">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>
                        <span class="mat-subheading-1"><strong> Email</strong></span>
                    </th>
                    <td mat-cell *matCellDef="let element">
                        {{element.email}}
                    </td>
                </ng-container>
                <ng-container matColumnDef="phone">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>
                        <span class="mat-subheading-1"><strong> Phone</strong></span>
                    </th>
                    <td mat-cell *matCellDef="let element">
                        {{element.phone | mask: constants.phoneMask}}
                    </td>
                </ng-container>
                <ng-container matColumnDef="action">
                    <th mat-header-cell *matHeaderCellDef class="text-right">
                        <span class="mat-subheading-1"><strong> Action </strong></span>
                    </th>
                    <td mat-cell *matCellDef="let element" class="text-right">
                        <button mat-icon-button [matMenuTriggerFor]="menu">
                            <mat-icon>more_vert</mat-icon>
                        </button>
                        <mat-menu #menu="matMenu">
                            <button mat-menu-item (click)="edit(element.id)">Edit</button>
                            <button mat-menu-item (click)="delete(element.id)">Delete</button>
                        </mat-menu>
                    </td>
                </ng-container>
                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>
            <p class="text-muted text-center mt-3" *ngIf="isModelLoaded && model.length <= 0">No family members details
                found.
            </p>
            <mat-paginator [length]="totalCount" [pageSize]="constants.defaultPageSize"
                [pageSizeOptions]="[10, 50, 100, 1000]" class="pt-3 mt-2">
            </mat-paginator>
        </div>
        <div class="col-12 pt-3">
            <div class="text-right">
                <button mat-stroked-button [routerLink]="['/employee/dashboard']">
                    <mat-icon>arrow_back_los_new</mat-icon>Back
                </button>
            </div>
        </div>
    </section>
