<section *blockUI="'blockui-delete'">
  <div class="row">
    <div class="col-10 pb-2">
      <span class="mat-h2 pt-4">{{ title }}</span>
    </div>
    <div class="col-2" align="end">
      <mat-icon class="cursor-pointer" (click)="cancel()">close</mat-icon>
    </div>
  </div>
  <div class="row pb-3">
    <div class="col-12">
      <mat-divider></mat-divider>
    </div>
  </div>

  <form name="form" (ngSubmit)="f.form.valid && submit()" #f="ngForm" novalidate>
    <mat-dialog-content>
      <div class="row">
        <div class="col-12  mt-1 mb-2">
          {{message}}
        </div>
      </div>
    </mat-dialog-content>
    <mat-dialog-actions align="end" class="pt-3 pb-3">
      <div class="col-12">
        <button type="button" mat-stroked-button class="mr-2" (click)="cancel()">
          <mat-icon>highlight_off</mat-icon> Cancel
        </button>
        <button type="submit" mat-raised-button color="primary">
          <mat-icon>delete</mat-icon> Delete
        </button>
      </div>
    </mat-dialog-actions>
  </form>
</section>