<section *blockUI="'reset-password-blockui'">
    <div class="row">
        <div class="col-10 pb-2">
            <span class="mat-h2 pt-4">Reset Password</span>
        </div>
        <div class="col-2" align="end">
            <mat-icon class="cursor-pointer" (click)="closeResetPasswordPopup()">close</mat-icon>
        </div>
    </div>
    <div>
        <form name="form" (ngSubmit)="f.form.valid && submit()" #f="ngForm" novalidate>
            <div class="row">
                <div class="col-12">
                    <mat-form-field>
                        <input matInput name="password" placeholder="New Password" [(ngModel)]="model.password"
                            [type]="hidePassword ? 'password' : 'text'" #password="ngModel" required />
                        <mat-icon matSuffix class="cursor-pointer " (click)="hidePassword = !hidePassword">
                            {{hidePassword ? 'visibility' : 'visibility_off'}}
                        </mat-icon>
                        <mat-error>
                            <span *ngIf="password.errors?.['required']">New password is required.</span>
                        </mat-error>
                    </mat-form-field>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <mat-form-field>
                        <input matInput name="confirmPassword" placeholder="Confirm Password"
                            [type]="hideConfirmPassword ? 'password' : 'text'" (input)="validate(f.form)"
                            [(ngModel)]="model.confirmPassword" #confirmPassword="ngModel" required />
                        <mat-icon matSuffix class="cursor-pointer "
                            (click)="hideConfirmPassword = !hideConfirmPassword">
                            {{hideConfirmPassword ? 'visibility' : 'visibility_off'}}
                        </mat-icon>
                        <mat-error>
                            <span *ngIf="password.errors?.['required']">Confirm password is required.</span>
                            <span
                                *ngIf="!confirmPassword.errors?.['required'] && model.password!= model.confirmPassword">
                                New Password and confirm password does not match.</span>
                        </mat-error>
                    </mat-form-field>
                </div>
            </div>
            <div class="col-12 pt-3">
                <div class="text-right">
                    <button mat-stroked-button type="button" (click)="closeResetPasswordPopup()"
                        class="mr-2 pr-2">
                        <mat-icon>close</mat-icon>Cancel
                    </button>
                    <button type="submit" mat-raised-button color="primary">
                        <mat-icon>save</mat-icon> Submit
                    </button>
                </div>
            </div>
        </form>
    </div>
</section>