<section>
  <div class="pb-3">
    <div class="row">
      <div class="col-8 pt-3">
        <p class="sub-heading">Info</p>
      </div>
    </div>
    <mat-divider></mat-divider>
  </div>
  <div class="row">
    <div class="col-12 mb-3">
      <mat-label>Registered Company Name</mat-label>
      <div class="font-weight-bold pt-1">{{model.registeredName}}</div>
    </div>
    <div class="col-12 mb-3">
      <mat-label>Website</mat-label>
      <div class="font-weight-bold pt-1">{{model.websiteUrl}}</div>
    </div>

    <div class="col-6 mb-3">
      <mat-label>Brand Name</mat-label>
      <div class="font-weight-bold pt-1">{{model.brandName}}</div>
    </div>
  </div>
  <div class="col-12 mt-3 mb-3">
    <p class="sub-heading">Social Profile</p>
    <mat-divider></mat-divider>
    <div class="row mt-2">
      <span >
        <button mat-icon-button >
          <a href="https://www.linkedin.com/company/logimonk-technologies" >
          <img class="social-profile" src="assets/images/linkedin-social-profile.svg" alt="linkedin profile"></a>
        </button>
      </span>
      <span class="pl-3">
        <button mat-icon-button>
          <a href="https://www.facebook.com/LogimonkTechnologies" >
          <img class="social-profile" src="assets/images/facebook-social-profile.svg" alt="facebook profile"></a>
        </button>
      </span>
      <span class="pl-3">
        <button mat-icon-button>
          <a href="https://www.twitter.com/logimonk">
          <img class="social-profile" src="assets/images/twiter-social-profile.svg" alt="twiter profile"></a>
        </button>
      </span>
    </div>
  </div>
</section>