<section *blockUI="'blockui-class-confirm'">
    <div class="row mt-2">
        <div class="col-10 pb-2">
            <span class="mat-h2 pt-4">{{ title }}</span>
        </div>
        <div class="col-2 text-right">
            <mat-icon class="cursor-pointer" (click)="cancel()">close</mat-icon>
        </div>
    </div>
    <div class="row pb-3">
        <div class="col-12">
            <mat-divider></mat-divider>
        </div>
    </div>
    <form #f="ngForm" name="form" (ngSubmit)="f.form.valid && submit()" novalidate>
        <mat-dialog-content>
            <div class="row">
                <div class="col-12  mt-1 mb-2">
                    <p><span class="font-weight-bold">Employees on leave or applied for leave:</span>
                        {{model.startDate | date}}
                        <ng-container *ngIf="model.startDate !== model.endDate">
                            - {{model.endDate | date}}</ng-container>
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="col-12 mt-1 mb-2" *ngFor="let emp of employees">
                    <p class="leave-details">
                        <span class="text-dark font-weight-bold">{{emp.employeeName}}</span> |
                        {{emp.startDate | date}}
                        <ng-container *ngIf="emp.startDate !== emp.endDate"> - {{emp.endDate|date}}</ng-container> |
                        <mat-chip-list>
                            <mat-chip *ngIf="emp.status === 6">Pending</mat-chip>
                            <mat-chip *ngIf="emp.status === 7" color="accent" selected>Approve</mat-chip>
                        </mat-chip-list>
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="col-12  mt-1 text-dark font-weight-bold">
                   <p class="approve-message"> {{message}} </p>
                </div>
            </div>
        </mat-dialog-content>
        <mat-dialog-actions align="end" class="pt-2 pb-3">
            <div class="col-12">
                <button mat-stroked-button type="button" (click)="cancel()"> <mat-icon class="mr-2"> highlight_off
                    </mat-icon> No</button>
                <button mat-raised-button type="submit" color="primary"> <mat-icon> check_circle_outline </mat-icon>
                    Yes</button>
            </div>
        </mat-dialog-actions>
    </form>
</section>