<section *blockUI="'employee-blockui'" class="p-3">
  <div class="row">
    <div class="col-10 pb-2">
      <span class="mat-h2 pt-4" *ngIf="!model.id">Add Employee Details</span>
      <span class="mat-h2 pt-4" *ngIf="model.id">Edit Employee Details</span>
    </div>
    <div class="col-2 text-right">
      <mat-icon class="cursor-pointer" (click)="cancel()">close</mat-icon>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <mat-divider></mat-divider>
    </div>
  </div>
  <form name="form" (ngSubmit)="f.form.valid && submit()" #f="ngForm" novalidate>
   
      <div class="form-group row pt-3">
        <div class="col-6">
          <mat-form-field>
            <input matInput appAlphabetWithSpaceOnly name="firstName" placeholder="First Name" [(ngModel)]="model.firstName"
              #firstName="ngModel" required>
            <mat-error *ngIf="firstName.invalid">
              <span *ngIf="firstName.errors?.['required']">First name is required.</span>
            </mat-error>
          </mat-form-field>
        </div>
        <div class="col-6">
          <mat-form-field>
            <input matInput appAlphabetWithSpaceOnly name="lastName" placeholder="Last Name" [(ngModel)]="model.lastName"
              #lastName="ngModel" required>
            <mat-error *ngIf="lastName.invalid">
              <span *ngIf="lastName.errors?.['required']">Last name is required.</span>
            </mat-error>
          </mat-form-field>
        </div>
        <!-- <div class="col-6">
          <mat-form-field>
            <input matInput name="code" placeholder="Employee Code" [(ngModel)]="model.code" #code="ngModel" required>
            <mat-error *ngIf="code.invalid">
              <span *ngIf="code.errors?.['required']">Employee code number is required.</span>
            </mat-error>
          </mat-form-field>
        </div> -->

        <!-- <div class="col-4">
          <mat-form-field>
            <mat-select name="designationId" placeholder="Designation" [(ngModel)]="model.designationId"
              #designationId="ngModel" required>
              <mat-option [value]="item.key" *ngFor="let item of designations">{{item.value}}</mat-option>
            </mat-select>
            <mat-error *ngIf="designationId.invalid">
              <span *ngIf="designationId.errors?.['required']">Designation required.</span>
            </mat-error>
          </mat-form-field>
        </div>
        <div class="col-4">
          <mat-form-field>
            <mat-select name="departmentId" placeholder="Department" [(ngModel)]="model.departmentId"
              #departmentId="ngModel" required>
              <mat-option [value]="item.key" *ngFor="let item of departments">{{item.value}}</mat-option>
            </mat-select>
            <mat-error *ngIf="departmentId.invalid">
              <span *ngIf="departmentId.errors?.['required']">Department required.</span>
            </mat-error>
          </mat-form-field>
        </div> -->
        <div class="col-6">
          <mat-form-field>
            <input matInput [matDatepicker]="picker" name="dateOfJoining" placeholder="Date of Joining"
              [(ngModel)]="model.dateOfJoining" #dateOfJoining="ngModel" required>
            <mat-datepicker-toggle matSuffix [for]="picker">
            </mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
            <mat-error *ngIf="dateOfJoining.invalid">
              <span *ngIf="dateOfJoining.errors?.['required']">Date of joining is required.</span>
            </mat-error>
          </mat-form-field>
        </div>
        <!-- <div class="col-6">
          <mat-form-field>
            <input matInput appEmailAddressOnly name="officialEmailID" placeholder="Official Email"
              [(ngModel)]="model.email" #officialEmailID="ngModel" [pattern]="appUtils.emailRegexPattern" required>
            <mat-error *ngIf="officialEmailID.invalid">
              <span *ngIf="officialEmailID.errors?.['required']">Official email is required.</span>
              <span *ngIf="officialEmailID.errors?.['pattern']">Invalid email address.</span>
            </mat-error>
          </mat-form-field>
        </div> -->
        <div class="col-6">
          <mat-form-field>
            <input matInput name="phoneNumber" placeholder="Phone" [(ngModel)]="model.phone" #phoneNumber="ngModel"
              maxlength="16" minlength="10" [mask]="appUtils.phoneMask" required>
            <mat-error *ngIf="phoneNumber.invalid">
              <span *ngIf="phoneNumber.errors?.['required']">Phone number is required.</span>
              <span *ngIf="phoneNumber.errors?.['minlength']">Phone number can not be less than 10 digits.</span>
            </mat-error>
          </mat-form-field>
        </div>

        <div class="col-6">
          <mat-form-field>
            <mat-select name="gender" placeholder="Gender" [(ngModel)]="model.gender" #gender="ngModel" required>
              <mat-option [value]="item.key" *ngFor="let item of genderDropDown">{{item.value}}</mat-option>
            </mat-select>
            <mat-error *ngIf="gender.invalid">
              <span *ngIf="gender.errors?.['required']">Gender is required.</span>
            </mat-error>
          </mat-form-field>
        </div>
      </div>
    
    <div align="end" class="pt-3 pb-3">
      <button type="button" mat-stroked-button class="mr-2" (click)="cancel()">
        <mat-icon>cancel</mat-icon> Cancel
      </button>
      <button type="submit" mat-raised-button color="primary">
        <mat-icon>save</mat-icon> Submit
      </button>
    </div>
  </form>
</section>