<div class="container-fluid">
  <div class="heading font-weight-bold pb-3">Directory</div>
  <mat-card>
    <section *blockUI="'employee-blockui'">
      <div class="col-12">
        <div class="row">
          <div class="col-sm-3 col-12">
            <mat-form-field>
              <input matInput name="searchEmployees" placeholder="Search People" [(ngModel)]="filterModel.filterKey"
                #serachLogs="ngModel">
              <mat-icon matSuffix class="cursor-pointer" (click)="resetFilterKey()"
                *ngIf="filterModel.filterKey">close</mat-icon>
            </mat-form-field>
          </div>
          <div class="col-sm-5 col-10 pt-1">
            <button mat-raised-button color="primary" class="mr-2" (click)="getEmployees()">
              <mat-icon>search</mat-icon> Search
            </button>
            <button mat-raised-button (click)="resetFilter()">
              <mat-icon>clear</mat-icon> Reset
            </button>
          </div>
        </div>
      </div>
      <div class="col-12 mt-2">
        <table mat-table [dataSource]="model" matSort matSortActive="createdOn" matSortDisableClear
          matSortDirection="desc">

          <ng-container matColumnDef="code">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>
              <span class="mat-subheading-1"><strong>ID</strong></span>
            </th>
            <td mat-cell *matCellDef="let element">
              {{element.code}}
            </td>
          </ng-container>

          <!-- <ng-container matColumnDef="image">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>
              <span class="mat-subheading-1"><strong>Image</strong></span>
            </th>
            <td mat-cell *matCellDef="let element">
             <img [src]="element.imageUrl" alt="" class="user-image" *ngIf="element.imageUrl!=null;else noImage">
             <ng-template #noImage>
              <img src="assets/images/placeholder-image.png" alt="" class="user-image">
             </ng-template>
            </td>
          </ng-container> -->

          <ng-container matColumnDef="firstName">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>
              <span class="mat-subheading-1"><strong> Name</strong></span>
            </th>
            <td mat-cell *matCellDef="let element">
              <span class="username-column">
              <img [src]="element.imageUrl" alt="" class="user-image" *ngIf="element.imageUrl!=null;else noImage">
              <ng-template #noImage>
               <img src="assets/images/placeholder-image.png" alt=""  class="user-image">
              </ng-template>&nbsp;
              
              {{element.firstName}} {{element.lastName}}
            </span>
            </td>
          </ng-container>
          <ng-container matColumnDef="department">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>
              <span class="mat-subheading-1"><strong> Department</strong></span>
            </th>
            <td mat-cell *matCellDef="let element">
              <div *ngIf="element.departmentName == null">
                {{element.department}}
              </div>
              <div *ngIf="element.departmentName != null">
                {{element.department}}
              </div>
            </td>
          </ng-container>
          <ng-container matColumnDef="designation">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>
              <span class="mat-subheading-1"><strong> Designation</strong></span>
            </th>
            <td mat-cell *matCellDef="let element">
              <div *ngIf="element.designationName == null">
                {{element.designation}}
              </div>
              <div *ngIf="element.designationName != null">
                {{element.designation}}
              </div>
            </td>
          </ng-container>
          <ng-container matColumnDef="email">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>
              <span class="mat-subheading-1"><strong> Email</strong></span>
            </th>
            <td mat-cell *matCellDef="let element">
              {{element.email}}
            </td>
          </ng-container>
          <ng-container matColumnDef="manager">
            <th mat-header-cell *matHeaderCellDef>
              <span class="mat-subheading-1"><strong> Manager </strong></span>
            </th>
            <td mat-cell *matCellDef="let element">
              {{element.managerName}}
            </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
        <p class="text-muted text-center mt-3" *ngIf="isModelLoaded && model.length <= 0">No record
          found.
        </p>
        <mat-paginator [length]="totalCount" [pageSize]="constants.defaultPageSize"
          [pageSizeOptions]="[10, 50, 100, 1000]" class="pt-2 mt-2">
        </mat-paginator>
      </div>
    </section>
  </mat-card>
</div>