<div class="pt-2" *blockUI="'note-blockUI'">
  <section>
    <div class="col-12 pb-3 pt-3">
      <div class="row">
        <div class="col-10 pt-2">
          <p class="sub-heading mb-1">Notes</p>
        </div>
        <div class="col-2 pb-2 text-right">
          <button mat-raised-button color="primary" (click)="addNote()">
            Add New
          </button>
        </div>
      </div>
      <mat-divider></mat-divider>
    </div>
    <div class="col-12 mt-2">
      <table mat-table [dataSource]="model">
        <ng-container matColumnDef="note">
          <th mat-header-cell *matHeaderCellDef class="w-75 pr-3">
            <span class="mat-subheading-1"><strong>Note</strong></span>
          </th>
          <td mat-cell *matCellDef="let element" class="w-75 pr-3">
            {{ element.description }}
          </td>
        </ng-container>

        <ng-container matColumnDef="createdOn">
          <th mat-header-cell *matHeaderCellDef>
            <span class="mat-subheading-1"><strong>Created On</strong></span>
          </th>
            <td mat-cell *matCellDef="let element">
            {{ element.createdOn | date }}
          </td>
        </ng-container>
        <ng-container matColumnDef="action">
          <th mat-header-cell *matHeaderCellDef class="text-right">
            <span class="mat-subheading-1"><strong> Action </strong></span>
          </th>
          <td mat-cell *matCellDef="let element" class="text-right">
            <button mat-icon-button [matMenuTriggerFor]="menu">
              <mat-icon>more_vert</mat-icon>
            </button>
            <mat-menu #menu="matMenu">
              <button mat-menu-item (click)="editNote(element.id)">Edit</button>

              <button mat-menu-item (click)="deleteNote(element.id)">
                Delete
              </button>
            </mat-menu>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
      </table>
      <p class="text-muted text-center mt-3" *ngIf="model.length <= 0">
        No education details found.
      </p>
      <!-- <mat-paginator [length]="totalCount" [pageSize]="constants.defaultPageSize"
                [pageSizeOptions]="[10, 50, 100, 1000]" class="pt-3 mt-2">
            </mat-paginator> -->
    </div>
    <div class="col-12 pt-5">
      <div class="text-right">
        <button mat-stroked-button [routerLink]="['/admin/directory']">
          <mat-icon>arrow_back_los_new</mat-icon>Back
        </button>
      </div>
    </div>
  </section>
</div>
