<header class="topbar">
    <div class="navbar-header bg-white border-bottom">
        <div class="col-12">
            <div class="d-flex justify-content-between align-items-center py-2">
                <div class="">
                    <span class="call-us"><a href="tel:Call Us Today! 8800452327">Call Us Today! 8800 452 327</a></span>
                    <span class="mail-info border-left ml-2 pl-2"><a
                            href="mailto:contact@logimonk.com"> &#9993; contact@logimonk.com</a></span>  
                </div>
            </div>
        </div>
    </div>
</header>