<section *blockUI="'company-blockui'">
  <div class="pb-3">
    <div class="row">
      <div class="col-8 pt-2">
        <p class="sub-heading">Registered Office</p>
      </div>
      <div class="col-4 text-right">
        <button mat-icon-button (click)="addRegisteredAddress()">
          <mat-icon *ngIf="model.registeredOffice != null">edit</mat-icon>
          <mat-icon *ngIf="model.registeredOffice == null">add_circle_outline</mat-icon>
        </button>
      </div>
    </div>
    <mat-divider></mat-divider>
  </div>
  <div class="col-12" *ngIf="model.registeredOffice == null">
    <div class="pt-1">No registered office address found</div>
  </div>
  <div class="col-12" *ngIf="model.registeredOffice !== null">
    <div class="pt-1">{{model.registeredOffice.line1}} <br> {{model.registeredOffice.line2}}
      {{model.registeredOffice.cityName}}, {{model.registeredOffice.stateName}},<br>
      India, {{model.registeredOffice.pinCode}}
    </div>
  </div>

  <div class="pb-3 pt-3">
    <div class="row">
      <div class="col-8 pt-2">
        <p class="sub-heading">Corporate Office</p>
      </div>
      <div class="col-4 text-right">
        <button mat-icon-button *ngIf="model.id" (click)="addCorporateAddress()">
          <mat-icon *ngIf="model.corporateOffice !== null">edit</mat-icon>
          <mat-icon *ngIf="model.corporateOffice == null">add_circle_outline</mat-icon>
        </button>
      </div>
    </div>
    <mat-divider></mat-divider>
  </div>
  <div class="col-12" *ngIf="model.corporateOffice == null">
    <div class="pt-1">No corporate office address found</div>
  </div>
  <div class="col-12" *ngIf="model.corporateOffice !== null">
    <div class="pt-1">{{model.corporateOffice.line1}} <br> {{model.corporateOffice.line2}}
      {{model.corporateOffice.cityName}}, {{model.corporateOffice.stateName}},<br>
      India, {{model.corporateOffice.pinCode}}
    </div>
  </div>
</section>